.carousel-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.carousel-images{
    display: flex;
    transition: transform 0.3s ease;
    cursor: grab;
    margin-left: 16px;
}
.image{
    width: 100%;
    height: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}